html { background: #ccc; }
body { line-height: 1.5; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
a, a:link, a:visited { text-decoration: none; color: blue; cursor: pointer; }
input, button { border-radius: 3px; -moz-border-radius: 3px; border: solid #aaa 1px; font-size: 12px; padding: 2px; }
button { background: #ccc; padding: 2px 4px; }
img { border: none; }

html .busy {
    background-image: url("../images/blink.gif");
}
.playing {
    background-color: #eee;
}
.busy .playing {
    transition: all .5s;
    -moz-transition: all .5s;
}
div#container {
    margin: auto;
    padding: 5px;
    max-width: 50em;
}

div.header { margin: 0; padding: 5px 8px; background: #000; color: #fff; border-radius: 5px; -moz-border-radius: 5px; }

ul.albums { list-style: none; margin: 5px 0 0 0; clear: both; padding: 0; border: 1px solid #aaa; background: #fff; border-radius: 5px; -moz-border-radius: 5px;}
ul.albums li { border-bottom: 1px solid #ccc; padding: 5px 10px; position: relative; min-height: 1em; cursor: pointer; }
ul.albums li div.album-info { min-height: 1em; }
ul.albums li.album span { display: block; }
ul.albums li.track span { display: inline; }
ul.albums li span.genre, ul.albums li span.year { font-size: smaller; float: right; clear: both; }
.album-info span.artist, .album-info span.album { font-size: 14px; }
.albums span.artist, .albums span.title { font-weight: bold; }

ol.tracks { list-style-position: inside; border-top: 1px solid #eee; clear: both; margin: 5px 0 0 0; padding: 0; }
ol.tracks li { padding: 5px 0; position: relative; border-bottom: 1px solid #eee; }
ol.tracks li:last-child { border-bottom: none; }
ol.tracks li .length { float: right; font-size: smaller; }

li.more { text-align: center; }

.header { display: table; margin: 0; padding: 0; }
.search { display: table-row; }
.search span { display: table-cell; vertical-align: middle; }
.search span.input { width: 100%; padding-right: 4px; }
.search input { width: 100%; }
.header div.player { display: table-row; }
.header div.player span { width: table-cell; }