html { background: #ccc; }
body { line-height: 1.5; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
a { text-decoration: none; color: blue; }
input, button { border-radius: 3px; -moz-border-radius: 3px; border: solid #aaa 1px; font-size: 12px; padding: 2px; }
button { background: #ccc; padding: 2px 4px; }

div.header, div.footer { display: none; }

div.content { overflow: hidden; }

div.paging { margin: 5px; }
div.paging img { border: none; }
div.paging a.previous { float: left; display: block; margin: 8px 0px; width: 13px; height: 20px; }
div.paging a.next { float: right; display: block; margin: 8px 0px; width: 13px; height: 20px; }

ul.albums { list-style: none; }
ol.tracks { list-style-position: inside; }
ul.albums, ol.tracks { clear: both; margin: 5px; padding: 0; border: 1px solid #aaa; background: #fff; border-radius: 5px; -moz-border-radius: 5px;}
ul.albums li, ol.tracks li { border-bottom: 1px solid #ccc; padding: 5px 10px; overflow: hidden; position: relative; }
ul.albums li a.play, h2.title a.play { float: right; }

h2 { margin: 0; padding: 5px; background: #000; color: #fff; }
h2.title span.album { font-style: italic; }

dl.meta { margin: 5px 10px; font-size: smaller; }
dl.meta dt { width: 6em; float: left; padding-right: 1em; font-weight: bold; }
dl.meta dd { width: 20em; display: block; }

ol.tracks li .length { float: right; }

.search form { display: table; width: 100%; margin: 0; padding: 0; }
.search form div { width: 100%; display: table-row; }
.search form div span { display: table-cell; }
.search form div span.input { width: 100%; padding-right: 4px; }
.search form div input { width: 100%; }
