html {
    background: #ddd;
}
body {
    line-height: 1.5;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a, a:link, a:visited {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:focus, a:hover {
    background: #eee;
}
input, button {
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: solid #aaa 1px;
    font-size: 14px;
    padding: 4px;
}
button {
    background: #bbb;
    padding: 2px 4px;
}
img {
    border: none;
}

html .busy {
    background-color: #ccc;
    background-image: url("../images/blink.gif");
}
.playing .playing, .playing .album-info, .paused .paused, .paused .album-info {
    background-color: #ddd;
}
.paused .paused, .paused .album-info {
    color: #666;
}
.busy .playing {
    transition: all .5s;
    -moz-transition: all .5s;
}
div#container {
    margin: auto;
    padding: 3px;
    max-width: 600px;
}

div.header {
    margin: 0;
    padding: 0;
}

ul.albums {
    list-style: none;
    margin: 3px 0 0 0;
    clear: both;
    padding: 0;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
ul.albums li, ul.albums a.track {
    display: list-item;
    border-bottom: 1px solid #bbb;
    position: relative;
    cursor: pointer;
}
ul.albums li .album-info {
    display: block;
    min-height: 34px;
    padding: 3px 8px;
}
ul.albums li.album span {
    display: block;
}
ul.albums a.track span {
    display: inline;
}
ul.albums span.genre, ul.albums span.year {
    font-size: smaller;
    float: right;
    clear: both;
}
.album-info span.artist, .album-info span.album {
    font-size: 14px;
}
.albums span.artist, .albums span.title {
    font-weight: bold;
}
ul.albums li.not-found {
    font-style: italic;
    text-align: center;
}

ol.tracks {
    list-style-position: inside;
    border-top: 1px solid #ddd;
    clear: both;
    margin: 0;
    padding: 0;
}
ol.tracks a.track {
    padding: 6px 8px;
    position: relative;
    border-bottom: 1px solid #f8f8f8;
}
ol.tracks a.track:last-child {
    border-bottom: none;
}
ol.tracks a.track .length {
    float: right;
    font-size: smaller;
}

#albums-more {
    display: list-item;
    text-align: center;
    padding: 8px 0 3px 0;
}

.header {
    display: table;
    margin: 0;
    padding: 0;
}
.search {
    display: table-row;
}
.search span {
    display: table-cell;
    vertical-align: middle;
}
.search span.input {
    width: 100%;
    padding-right: 12px;
}
.search input {
    width: 100%;
}

body.rss h1 {
    margin: 0 0 3px 0;
}
body.rss h2 {
    margin: 0 0 3px 0;
}
body.rss #container #header, body.rss #container .items {
    clear: both;
    padding: 0;
    border: 1px solid #aaa;
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 8px;
    margin-bottom: 3px;
}
body.rss .items {
    list-style: none;
    margin: 0;
    padding: 0;
}
body.rss .item {
    padding: 0 0 3px 0;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ccc;
}

body.rss .items li:last-child {
    border-bottom: none;
}
body.rss .pubDate {
    margin-top: 1em;
    font-size: smaller;
    text-align: right;
}

@media (max-width: 600px) {
    body {
        font-family: Roboto, Arial, Helvetica, sans-serif;;
    }
    div#container {
        margin: 0;
        padding: 0;
    }
    div.header {
        padding: 3px;
        border-bottom: solid #ccc 1px;
    }
    ul.albums {
        margin: 0;
        border: none;
        border-radius: 0;
        -moz-border-radius: 0;
    }
}
